* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001B40;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001028;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
}

header img {
  width: 130px;
  margin-left: 30px;
}

header span {
  display: flex;
  color: white;
  margin-right: 30px;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

header span i {
  width: 15px;
  height: 15px;
  background-image: url('../assets/icons/arrow.svg');
  background-position: center;
  background-size: cover;
  transform: rotateZ(180deg);
  transition: 500ms;
}

header span .arrow-down {
  transform: rotateZ(360deg);
  transition: 500ms;
}

.btn-menu:hover {
  text-decoration: underline;
}

.triangule {
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 20px;
}

.triangule::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: black;
  position: absolute;
  top: -55%;
  left: 50%;
  transform: rotateZ(45deg);
}

header .menu {
  display: none;
  position: absolute;
  width: 160px;
  padding: 0 25px 25px;
  background-color: black;
  right: 5px;
  top: 55px;
  border-radius: 10px;
  transition: 1000ms;
}

.items li {
  list-style: none;
  border-bottom: 1px solid white;
  height: 35px;
  padding: 9px;
}

.items a {
  text-decoration: none;
  color: white;
}

.items a:hover {
  text-decoration: underline;
}

header .menu-active {
  display: block;
  transition: 1000ms;
}

.roomeet {
  width: 90%;
  margin: 30px auto;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 25px;
}

p {
  font-size: .9em;
  line-height: 1.35em;
  letter-spacing: .1em;
}

.imagen-contenedor {
  width: 201px;
  height: 135px;
  margin: 30px auto;
  position: relative;
}

.imagen-contenedor .imagen-seccion {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.background-img {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: white;
  border-radius: 5px;
  z-index: -5;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.caracte {
  width: 100%;
  border-radius: 25px;
  background-color: #002B67;
  margin: 60px 0;
  padding: 20px 0;
  position: relative;
  z-index: -10;
}

hr {
  width: 85%;
  margin: 0 auto;
}

.imagen-contenedor .conect {
  background-image: url('../assets/images/estudiando.jpg');
}

.imagen-contenedor .comparte {
  background-image: url('../assets/images/compartir.jpg');
}

.imagen-contenedor .funcio {
  background-image: url('../assets/images/funcionalidades.jpg');
}

form {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #00D015;
  background-color: #001028;
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

h3 {
  margin-bottom: 15px;
}

input {
  height: 30px;
}

input,
textarea {
  width: 100%;
  margin: 10px auto;
  border-radius: 15px;
  padding: 0 5px;
  border: none;
}

textarea {
  padding-top: 5px;
}

.enviar_btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #00D015;
  color: white;
  border-radius: 20px;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #001028;
  padding-top: 20px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.25);
}
